
    
body{
    margin:20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    

}
.avatar{
    width:300px;
    height:300px ;
}
.card{
    border-radius: 10px;
    padding-left:20px ;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    background-color:#ddebf8;
    justify-content: space-around;
    width: 450px;
   
    border-bottom: 2px solid maroon;
   
    align-items: start;
}
.border-blue{
   border: 1px  rgba(109, 166, 219, 0.322)  ;
   margin-top:auto ;
   margin-bottom: auto;
   text-align: center;
   font-size: large;

   
}
.card:hover{
    width:480px;
    background-color: rgb(238, 107, 107);
    height:315px ;
}
.steven{
    border-bottom: 2px solid black;
}
#steven{
    text-align: center;
}
.img-steven{
    border-radius:10px ;
}
.box{

}

.stevo{
    border: none;
    background-color:#ddebf8 ;
    
    margin-left: 15px;
    margin-right:15px ;
    display: flex;
    flex-direction: row;
}
#img-stevo{
    width:150px ;
    height:290px ;
    border-radius:400px ;
    margin-left:15px ;
    margin-right:15px ;
}
#team{
     width:150px ;
    height:290px ;
    border-radius:400px ; 
    
}























