
    
body{
    margin:20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top:15% ;
    margin-bottom:15% ;
}
.avatar{
    width:300px;
    height:300px ;
}
.card{
    border-radius: 10px;
    padding-left:20px ;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    background-color:#ddebf8;
    justify-content: space-around;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid maroon;
    margin:0 auto ;
}
.border-blue{
   border: 1px  rgba(109, 166, 219, 0.322)  ;
   margin-top:auto ;
   margin-bottom: auto;
   text-align: center;
   font-size: large;

   
}


























